.button {
  width: 49%;
  text-transform: uppercase;
  height: 28px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: 200;
  padding: 16px 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background-color: #6c6c6c; }
  .button:hover {
    background-color: #404040; }
  .button:active {
    position: relative;
    top: 1px; }

.action {
  background-color: #3b92dd; }
  .action:hover {
    background-color: #1f5d8d; }
  .action:active {
    position: relative;
    top: 1px; }
