.receipt {
  padding: 18px;
  background-color: #68a43e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
  height: 162px; }
  .receipt .row {
    display: table-row; }
    .receipt .row .caption,
    .receipt .row .value {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      margin: 0;
      color: #ffffff; }
    .receipt .row .caption {
      font-weight: bold;
      font-size: 23px; }
    .receipt .row .value {
      font-weight: 500;
      font-size: 27px; }
