.custom-input {
  .react-tel-input .selected-flag {
    height: 56px;
  }
  input[type=tel], input[type=number] {
    padding-left: 22px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    border: solid 1px #898989;
    height: auto;
    line-height: inherit;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input::-webkit-input-placeholder {
    color: #999;
  }
  input[type=tel] {
    padding-left: 45px;
  }
}

.by-phone {
  .custom-input {
    input::-webkit-input-placeholder {
      text-indent: 2em;
    }
  }
}