<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <!--
      Notice the use of %PUBLIC_URL% in the tag above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>UDS Game</title>
</head>
<body>
<div id="root"></div>
<script>
    /**
     * Mock evotor methods for local development
     * @returns {{receipt: {getReceipt: Evotor.methods.receipt.getReceipt}, navigation: {pushNext: Evotor.methods.navigation.pushNext}}|*}
     * @constructor
     */
    var Evotor = function () {
        this.methods = {
            receipt: {
                getReceipt: function () {
                    return JSON.stringify({
                        "receiptData": {
                            "totalSum": "218.50",
                            "discountPercents": "0.000000",
                            "totalSumWithoutDiscount": "218.50",
                            "positionDiscountSum": "0.00",
                            "positionsCount": "1",
                            "extraData": "{}"
                        },
                        "receiptPositions": [{
                            "uuid": "070efd1b-4f53-401a-b5c1-cb31b5e9072d",
                            "type": "NORMAL",
                            "code": "1",
                            "measure": "шт",
                            "price": "56",
                            "priceWithDiscount": "56",
                            "quantity": "1"
                        }]
                    });
                },
                applyReceiptDiscount: function(discount) {
                    console.log(discount);
                    return true;
                },
                addReceiptExtra: function (params) {
                    console.log(params);
                    return true;
                }
            },
            navigation: {
                pushNext: function () {
                    alert('Application close event');
                }
            },
            logger: {
                log: function (message, params) {
                    var logData = JSON.stringify(params);
                    if (typeof logger !== "undefined") {
                        logger.log(message + " " + logData);
                    } else {
                        console.log(message, logData);
                    }
                }
            }
        };

        return this.methods
    };

    var evotorService = new Evotor();


    if (typeof receipt !== "undefined") {
        evotorService.receipt = receipt;
    }

    if (typeof navigation !== "undefined") {
        evotorService.navigation = navigation;
    }

    window.evotor = evotorService;
</script>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start`.
  To create a production bundle, use `npm run build`.
-->
</body>
</html>
