/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-wrapper {
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #888;
    margin-bottom: 10px;
  }

  .modal-button {
      text-transform: uppercase;
      background-color: #c23824;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      color: #ffffff;
      font-size: 17px;
      padding: 16px 16px;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;

    &:hover {
      background-color: #f44530;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }

}