.profile {
  .user-info {
    height: 35px;
    text-align: center;
    .name {
      text-transform: uppercase;
    }
  }
  .discount-info {
    padding: 10px 0;
    color: #f0f0f0;
    text-align: center;
    background-color: #68a43e;
    .discount {
      padding-bottom: 10px;
      font-size: 23px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .total-sum {
      .caption {
        font-size: 15px;
        font-weight: 200;
        text-transform: uppercase;
      }
      .value {
        font-size: 27px;
        font-weight: 500;
      }
    }
  }
}