.profile {
  .user-info {
    height: 50px;
    text-align: center;
    .name {
      text-transform: uppercase;
    }
    .status {
      min-width: 270px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 32px;
      padding: 4px 8px 4px 4px;
      -moz-border-radius: 16px;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      font-size: 13px;
      font-weight: 300;
      -webkit-box-shadow:  0 0 0 1px #d7d7d7;
      -moz-box-shadow:  0 0 0 1px #d7d7d7;
      box-shadow:  0 0 0 1px #d7d7d7;
      .icon,
      .label {
        padding-top: 6px;
        display: inline-block;
        vertical-align: middle;
        &.vip {
          padding-top: 3px;
          color: #e87f04;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .icon {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        float: left;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        background: no-repeat center center;
        background-size: 22px;
        &.vip {
          background-image: url('images/vip.png');
        }
        &.participant {
          background-image: url('images/icon-profile.png');
        }
        &.none {
          background-image: url('images/user.png');
        }
      }
      .label {
        color: #898989;
      }
    }
  }
  .discount-info {
    padding: 10px 0;
    color: #f0f0f0;
    text-align: center;
    background-color: #68a43e;
    &.vip {
      background-color: #2e2e2e;
    }
    .discount {
      padding-bottom: 10px;
      font-size: 23px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .total-sum {
      .caption {
        font-size: 15px;
        font-weight: 200;
        text-transform: uppercase;
      }
      .value {
        font-size: 27px;
        font-weight: 500;
      }
    }
  }
  .scores-info {
    text-align: center;
    padding: 12px;
    .caption {
      font-size: 14px;
    }
    .value {
      padding: 10px 0;
      font-weight: 500;
      .avatar,
      .scores {
        display: inline-block;
        vertical-align: middle;
      }
      .avatar {
        width: 20px;
        height: 20px;
        background: url('images/bird.png') no-repeat center center;
        background-size: 18px;
        padding-right: 10px;
      }
      .scores {
        font-size: 20px;
      }
    }
    .description {
      font-size: 14px;
      color: #898989;
      font-weight: 200;
    }
  }
}