.profile .user-info {
  height: 50px;
  text-align: center; }
  .profile .user-info .name {
    text-transform: uppercase; }
  .profile .user-info .status {
    min-width: 270px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    padding: 4px 8px 4px 4px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 300;
    -webkit-box-shadow: 0 0 0 1px #d7d7d7;
    -moz-box-shadow: 0 0 0 1px #d7d7d7;
    box-shadow: 0 0 0 1px #d7d7d7; }
    .profile .user-info .status .icon,
    .profile .user-info .status .label {
      padding-top: 6px;
      display: inline-block;
      vertical-align: middle; }
      .profile .user-info .status .icon.vip,
      .profile .user-info .status .label.vip {
        padding-top: 3px;
        color: #e87f04;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase; }
    .profile .user-info .status .icon {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      float: left;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      background: no-repeat center center;
      background-size: 22px; }
      .profile .user-info .status .icon.vip {
        background-image: url("images/vip.png"); }
      .profile .user-info .status .icon.participant {
        background-image: url("images/icon-profile.png"); }
      .profile .user-info .status .icon.none {
        background-image: url("images/user.png"); }
    .profile .user-info .status .label {
      color: #898989; }

.profile .discount-info {
  padding: 10px 0;
  color: #f0f0f0;
  text-align: center;
  background-color: #68a43e; }
  .profile .discount-info.vip {
    background-color: #2e2e2e; }
  .profile .discount-info .discount {
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase; }
  .profile .discount-info .total-sum .caption {
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase; }
  .profile .discount-info .total-sum .value {
    font-size: 27px;
    font-weight: 500; }

.profile .scores-info {
  text-align: center;
  padding: 12px; }
  .profile .scores-info .caption {
    font-size: 14px; }
  .profile .scores-info .value {
    padding: 10px 0;
    font-weight: 500; }
    .profile .scores-info .value .avatar,
    .profile .scores-info .value .scores {
      display: inline-block;
      vertical-align: middle; }
    .profile .scores-info .value .avatar {
      width: 20px;
      height: 20px;
      background: url("images/bird.png") no-repeat center center;
      background-size: 18px;
      padding-right: 10px; }
    .profile .scores-info .value .scores {
      font-size: 20px; }
  .profile .scores-info .description {
    font-size: 14px;
    color: #898989;
    font-weight: 200; }
