@charset "UTF-8";
textarea:focus, input:focus {
  outline: none; }

.content-padding {
  padding: 16px 28px 0; }

.info {
  color: #898989;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0; }

.button-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%; }

.button-separator {
  width: 2%;
  display: table-cell; }

/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  width: 100%;
  padding: 0px;
  margin: 0 auto; }

/* Стили секций с содержанием */
.tabs > section {
  clear: both;
  display: none;
  padding: 15px;
  background: #fff; }

.tabs > section > p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Прячем чекбоксы */
.tabs > input {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
  position: absolute;
  left: -1000px;
  top: -1000px; }

/* Стили переключателей вкладок (табов) */
.tabs > label {
  padding: 15px 25px;
  box-sizing: border-box;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
  background: #f1f1f1;
  margin: 0;
  border: 0;
  border-radius: 0; }
  .tabs > label:first-of-type {
    box-shadow: inset -2px -2px 6px #ddd;
    border-bottom-right-radius: 10px; }
  .tabs > label:last-of-type {
    box-shadow: inset 2px -2px 6px #ddd;
    border-bottom-left-radius: 10px; }

/* Изменения стиля переключателей вкладок при наведении */
.tabs > label:hover {
  color: #888;
  cursor: pointer; }

/* Стили для активной вкладки */
.tabs > input:checked + label {
  color: #555;
  box-shadow: none;
  background: #fff; }

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
  display: block; }

/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/
@media screen and (max-width: 680px) {
  .tabs > label {
    font-size: 18px; } }

/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
  .tabs > label {
    padding: 16px; } }
